<h1>Login</h1>

<form action="/sessions" method="post">
	<input type="text" placeholder="Email" name="user[email]">
	<input type="password" placeholder="password" name="user[password]">
	<input type="submit">
</form>


<button> 
	<a href="/users/new"> SignUp  </a> 
</button>

<!-- #name kann man ohne [:] colon machen aber es turnt es trotzdem in einen hash -->