<div> 
	<%= image_tag "hamptons.png", :id => "page" %>
</div> 

	<div> 
		<button type="button" class="btn btn-default btn-lg" id="search_button"> 
			<a href="/restaurants/new">
			Search for a restaurant
			</a>
		</button>
	</div>

