<html>
<head>
	<title> Order Summary </title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<div>
	<h4> Dear user ((((xyz user_name=> das funktioniert nicht, dass es hier den namen reinzieht))))) <br><br><%= @username %>, thanks for ordering at: <br><br><br>
		<%= @order.restaurant_id %>   </h4>

    <br><br><br>


<h5> Here is a summary of your order: </h5>

		<% @order.items.each do |item| %>
			<%= item.item_name %> 
			x
			<%= item.quantity %> <br>
		<% end %>


<br>
<br>
<br>
<br>

	Please check your email-inbox for a confirmation email. (not working!!! nur email an driver, der dann beim restaurant bestellt)

	</div>

<br>
<br>
<br>

</body>
</html>

