<html>
<head>
	<title> Order Summary </title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<div>
	<h4> Dear user ((((xyz user_name))))), here is a summary of your order: </h4>

	<!-- zeige hier an:
		- user_name für oben
	- restaurant-name
	- kaufsummer
	- tip 
	- estimate ddelivery time -->

<br>
<br>
<br>
<br>

	Please check your inbox for a confirmation email.

	</div>

<br>
<br>
<br>

</body>
</html>

