<html>

<head>
	<title></title>
		<h1> Order from your Hamptons favorites:</h1>
</head>

<body>
<div id="search_form"> 
<form method="get" action="/restaurants">

	<input type="text" name="restaurant[town]" placeholder ="town">
	<input type="text" name="restaurant[cuisine]" placeholder ="cuisine">
<br>
<br>
	<input type="submit">
</form>

</div>

<div>
	<h2>((((Or see the results of all our Hamptons restaurants: ))))))</h2>


</div>



</body>
</html>


