<html>

<head>
	<title></title>
		<h1> Order from your Hamptons favorites:</h1>
</head>

<body>
<div id="search_form"> 
<form method="get" action="/restaurants">

	<input type="text" name="restaurant[town]" placeholder ="town">
	<input type="text" name="restaurant[cuisine]" placeholder ="cuisine">
<br>
<br>
	<input type="submit">
</form>

</div>

<div>
	<h2> Or choose a Hamptons restaurants directly:</h2>

<% @cities.each do |city| %>
	<h3> <%= city %> </h3> <br>
		<% @response1["businesses"].each do |business| %>
			<a href=""> <%= business["name"] %> </a> <br>
		<%end%>
<% end %>


</div>



</body>
</html>


